@import './src/Common/style';

.createContainer {
    width: 530px;
    padding-top: 8vh;
    margin: 0 auto;
    padding-bottom: 200px;
}

.create {
    padding: 40px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.textarea {
    width: 100%;
    resize: vertical;
    max-height: 200px;
    padding: 15px 18px;
    height: 48px;
    margin-bottom: 30px;
}

.area {
    border-radius: 10px;
    padding: 25px 0;
    text-align: center;
    border-width: 15px;
    cursor: pointer;
}

.dragContainer {
    position: relative;
    margin-bottom: 30px;
}

.dropArea {
    border: dashed 1px #000;
    background-color: #efefef;
}

.dropAreaDrag {
    border: dashed 1px #a6a6a6;
}

.fileIcon {
    pointer-events: none;
    margin-bottom: 15px;
}

.loadFile {
    font-size: 12px;
    margin-bottom: 10px;
    pointer-events: none;
}

.format {
    font-size: 12px;
    color: rgba(0,0,0,0.3);
    pointer-events: none;
}

.fileError {
    position: absolute;
    color: red;
    font-size: 10px;
    bottom: 5px;
    right: 0;
    left: 0;
    margin-bottom: auto;
}

.submitBtn {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    width: 100%;
    margin-bottom: 30px;
}

.backLink {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    text-decoration: underline;
    text-align: center;
}
