@import "./src/Common/style";

.messageContainer {
    width: 1000px;
    padding-top: 5vh;
    margin: 0 auto;
}

.message {
    padding: 40px;
}

.top {
  @include flexible();
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 40px;
  justify-content: space-between;
}

.content {
    width: 480px;
    padding-right: 40px;
    border-right: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 357px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

.description {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    color: $half-opacity-color;
    margin-bottom: 40px;
    white-space: pre-wrap;
}

.buttons {
    justify-content: space-between;
    margin-bottom: 20px;
}

.smallDownload {
    background-color: transparent !important;
    width: 100%;
    transition: all 0.5s ease !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
}

.smallDownload:hover {
    background-color: #eee !important;
}
.correct {
    color: #34b53a !important;
    border: 1px solid #34b53a;
    margin-bottom: 20px;
}
.correct:hover {
    color: white !important;
    background-color: #34b53a !important;
}

.incorrect {
    margin-bottom: 40px;
    color: #ff3a29 !important;
    border: 1px solid #ff3a29 ;
}

.incorrect:hover {
    color: white !important;
    background-color: #ff3a29 !important;
}

.download {
    width: 100%;
    @include flexible();
    justify-content: center;
    margin-bottom: 30px;
}

.linkBack {
    font-size: 12px;
    color: $half-opacity-color;
    text-align: center;
    border-bottom: 1px solid $half-opacity-color;
    width: max-content;
    margin: 0 auto;
}

.graphicContainer {
    border-radius: 10px;
    background-color: rgba(159, 202, 255, 0.16);
    margin-left: 40px;
    padding: 30px;
    width: 440px;
    height: 357px;
}

.bar {
    //height: 200px !important;
}

.graphicTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 55px;
}

.footer {
    padding-top: 40px;
    @include flexible();
    justify-content: space-between;
}

.kml {
    width: 187px;
    background-color: transparent !important;
    color: $primary-color !important;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
    border: 1px solid $primary-color;
    transition: all 0.4s ease;
}

.kml:hover {
    background-color: $primary-color !important;
    color: white !important;
}

.footerDownload {
  width: 380px;
  & img {
    margin-right: 15px;
  }
}
