* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    display: block;
}

button, input, textarea {
    background-color: transparent;
    outline: none;
    border: none;
    display: block;
}
