.outer {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(#6ca6de, #a5d2f1);
}

.inner {
    z-index: 2;
    position: relative;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.bottom-clouds {
    position: fixed;
    bottom: -290px;
    left: 30px;
    right: 0;
    //margin: auto;
    pointer-events: none;
    z-index: 1;

    animation: bottom-clouds-animation;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 1s;
    //animation-delay: 1s;

    //transition: all 2s ease-in;
    //margin: 100px auto 0;
    //transform: translate(0, -100px);
    ////transition-duration: 2s;
    //transition-delay: 0s;

}

@keyframes bottom-clouds-animation {
    0% {
        bottom: -600px;
    }

    100% {
        bottom: -280px;
    }
}

//@keyframes bottom-clouds-animation {
//    0% {
//        left: 30px;
//        right: 0;
//    }
//
//    50% {
//        left: 0;
//        //right: 10px;
//    }
//
//    100% {
//        left: -30px;
//    }
//}

.primary-button {
    background-color: #006bc1;
    padding: 15px 0;
    border-radius: 10px;
    transition: all 0.4s ease;
    color: white;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #0287F2;
}

.background-container {
    border-radius: 10px;
    background-color: #ffffff;
    margin: auto;
}

.input-text {
    border-radius: 10px;
    border: solid 1px #a6a6a6;
    font-size: 14px;
}

.input-text:focus {
    box-shadow: 0 0 2px 0 rgba(0, 107, 193, 0.4);
    border: solid 1px #006bc1;
}
